// Place all the styles related to the flights controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  width: 90%;
  text-align: center;
}

.container{
  text-align: left;
}

.jumbotron{
  text-align: center;
}

.jumbotron .destination{
  color:hotpink;
}

h1{
  text-align: center;
}

table{
  text-align: center;
}
