// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h5{
  color: hotpink;
}
.reserve{
  text-align: center;
  font-size: 15px;
}

.user-index{
  border: 2px dashed hotpink;
  margin-left:auto;
  margin-right:auto;
}
